.sp1{
  font-family: 'Oswald', sans-serif;
}


.form1{
  margin-top: 100px;
  width:40%;
  margin: auto;
  padding: 15px;
  border:1px solid yellowgreen;

}

.al1{
  width:40%;
  margin: auto;
}

.al2{
  width: 40%;
  margin: auto;
}

.form2{
  margin-top: 100px;
  width:40%;
  margin: auto;
  padding:15px;
  border: 1px solid yellowgreen;
}

.card1{
  width: 30%;
  margin: auto;
  margin-top: 10px;
}

@media (min-width:0px) and (max-width:769px){

  .a1{
    width:100%;
    margin:auto;
  }

  .outer-div{
    width: 100%;
  }

  .form1{
  margin-top: 100px;
  width:100%;
  margin: auto;
  padding: 15px;
  border:1px solid yellowgreen;
  }

  .al2{
    width: 100%;
    margin: auto;
  }

  .form2{
  margin-top: 100px;
  width:100%;
  margin: auto;
  padding:15px;
  border: 1px solid yellowgreen;
}

.card1{
  width: 100%;
  margin: auto;
  margin-top: 10px;
}

}
